{{ '@dataclass\n' -}}
{{ 'class ' -}}
{{ typed_dict.dataclass_name -}}
{{ '(DataClassJsonMixin):\n' -}}
{% set default_children = [] -%}
{% for child in typed_dict.children -%}
    {% if child.required and not child.reserved -%}
        {{ '    ' -}}
        {{ child.render_for_dataclass -}}
        {{ '\n' -}}
    {% endif -%}
{% endfor -%}
{% for child in typed_dict.children -%}
    {% if not (child.required and not child.reserved) -%}
        {{ '    ' -}}
        {{ child.render_for_dataclass -}}
        {{ '\n' -}}
    {% endif -%}
{% endfor -%}
